* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #333333;
  }

.timerBox {
    max-width: 65%;
    text-align: center;
    margin: 50px auto;
    color: #fff;
   
    font-size: 48px;
}

.btn {
    padding: 6px;
    margin: 3px;
    font-size: 24px;
    text-transform: uppercase;
    background: #fff;
    border: 0;
    cursor: pointer;
    outline-color: #fff;
    color: #333333;
}

.btn:hover {
    background: rgb(255, 173, 20);
    color: #fff;
}


.laps {
    max-width: 20%;
    margin: auto;
    list-style: none;
}

.lapRow {
    color: #333333;
    font-weight: bold;
    font-size: 24px;
    background: rgb(255, 173, 20);
    margin-bottom: 2px;
}

.stopwatch {
    padding: 2px 0 10px;
    border: ridge 2px rgb(255, 173, 20);
}
