* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .wrapper {
      min-width: 320px;
      max-width: 1400px;
      margin: auto;
  }

  .picture {
      background-repeat: no-repeat;
  }

  img {
      display: block;
      max-width: 100%;
      height: auto;
  }