.container__body--top {
    width: 100vw;
    background-image: linear-gradient(rgba(243, 129, 129, 0.9),rgba(252, 227, 138, 0.9)), url(../img/bird.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .container__body--top {
        background-image: linear-gradient(rgba(243, 129, 129, 0.9),rgba(252, 227, 138, 0.9)), url(../img/bird@2x.png);
    }
}

.container__content {
    width: 75rem;
    margin: auto;
}